[Desktop Entry]
Type=Application
Version=1.0
Name=ro-Assist
GenericName=System Maintenance Assistant
GenericName[tr]=Sistem Bakım Yardımcısı
GenericName[es]=Asistente de Mantenimiento del Sistema
Comment=Ro-ASD update and maintenance assistant
Comment[tr]=Ro-ASD update and maintenance assistant
Comment[es]=Ro-ASD update and maintenance assistant
Exec=env QT_QPA_PLATFORM=xcb QT_XCB_GL_INTEGRATION=xcb_glx ro-assist
Icon=ro-assist
Terminal=false
Categories=System;Utility;Qt;KDE;
Keywords=fedora;update;dnf;flatpak;snap;kde;maintenance;
StartupNotify=true
